openapi: 3.0.3
info:
  contact:
    name: Spotify for Developers Community
    url: https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer
  description: |
    You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.

    In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth 2.0</a>.

    The base URI for all Web API requests is `https://api.spotify.com/v1`.

    Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify for Developers community forum</a> to ask questions and connect with other developers.
  termsOfService: https://developer.spotify.com/terms/
  title: Spotify Web API
  version: 1.0.0
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://api.spotify.com/v1
tags:
- name: Library
- name: Tracks
- name: Playlists
- name: Player
- name: Users
- name: Albums
- name: Artists
- name: Audiobooks
- name: Episodes
- name: Shows
- name: Categories
- name: Chapters
- name: Genres
- name: Markets
- name: Search
paths:
  /albums/{id}:
    get:
      description: |
        Get Spotify catalog information for a single album.
      operationId: Albums_getInformation
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the album.
          example: 4aawyAB9vmqN3uQ7FjRGTy
          title: Spotify Album ID
          type: string
          x-konfig-original-example: 4aawyAB9vmqN3uQ7FjRGTy
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathAlbumId-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumObject'
          description: An album
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Album
      tags:
      - Albums
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--albums-id
      x-accepts: application/json
  /albums:
    get:
      description: |
        Get Spotify catalog information for multiple albums identified by their Spotify IDs.
      operationId: Albums_listSeveral
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the albums. Maximum: 20 IDs.
          example: "382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc"
          title: Spotify Album IDs
          type: string
          x-konfig-original-example: "382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryAlbumIds-schema
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsListSeveralResponse'
          description: A set of albums
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Several Albums
      tags:
      - Albums
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--albums
      x-accepts: application/json
  /albums/{id}/tracks:
    get:
      description: |
        Get Spotify catalog information about an album’s tracks.
        Optional parameters can be used to limit the number of tracks returned.
      operationId: Albums_getTracksById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the album.
          example: 4aawyAB9vmqN3uQ7FjRGTy
          title: Spotify Album ID
          type: string
          x-konfig-original-example: 4aawyAB9vmqN3uQ7FjRGTy
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathAlbumId-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryLimit-schema
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
          x-konfig-original-example: 5
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryOffset-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingSimplifiedTrackObject'
          description: Pages of tracks
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Album Tracks
      tags:
      - Albums
      - Tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--albums-id-tracks
      x-accepts: application/json
  /artists/{id}:
    get:
      description: |
        Get Spotify catalog information for a single artist identified by their unique Spotify ID.
      operationId: Artists_getCatalogInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.
          example: 0TnOYISbd1XYRBk9myaseg
          title: Spotify Artist ID
          type: string
          x-konfig-original-example: 0TnOYISbd1XYRBk9myaseg
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathArtistId-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistObject'
          description: An artist
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Artist
      tags:
      - Artists
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--artists-id
      x-accepts: application/json
  /artists:
    get:
      description: |
        Get Spotify catalog information for several artists based on their Spotify IDs.
      operationId: Artists_getCatalogInfo
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the artists. Maximum: 100 IDs.
          example: "2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"
          title: Spotify Artist IDs
          type: string
          x-konfig-original-example: "2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6"
          x-konfig-generated-schema: konfig-generated-schema-paths--artists-get-parameters-0-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistsGetCatalogInfoResponse'
          description: A set of artists
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Several Artists
      tags:
      - Artists
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--artists
      x-accepts: application/json
  /artists/{id}/albums:
    get:
      description: |
        Get Spotify catalog information about an artist's albums.
      operationId: Artists_getAlbumsById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.
          example: 0TnOYISbd1XYRBk9myaseg
          title: Spotify Artist ID
          type: string
          x-konfig-original-example: 0TnOYISbd1XYRBk9myaseg
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathArtistId-schema
        style: simple
      - explode: true
        in: query
        name: include_groups
        required: false
        schema:
          description: |
            A comma-separated list of keywords that will be used to filter the response. If not supplied, all album types will be returned. <br/>
            Valid values are:<br/>- `album`<br/>- `single`<br/>- `appears_on`<br/>- `compilation`<br/>For example: `include_groups=album,single`.
          example: "single,appears_on"
          title: "Groups to include (single, album, appears_on, compilation)"
          type: string
          x-konfig-original-example: "single,appears_on"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryIncludeGroups-schema
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryLimit-schema
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
          x-konfig-original-example: 5
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryOffset-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingArtistDiscographyAlbumObject'
          description: Pages of albums
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Artist's Albums
      tags:
      - Artists
      - Albums
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--artists-id-albums
      x-accepts: application/json
  /artists/{id}/top-tracks:
    get:
      description: |
        Get Spotify catalog information about an artist's top tracks by country.
      operationId: Artists_getTopTracks
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.
          example: 0TnOYISbd1XYRBk9myaseg
          title: Spotify Artist ID
          type: string
          x-konfig-original-example: 0TnOYISbd1XYRBk9myaseg
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathArtistId-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistsGetTopTracksResponse'
          description: A set of tracks
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Artist's Top Tracks
      tags:
      - Artists
      - Tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--artists-id-top-tracks
      x-accepts: application/json
  /artists/{id}/related-artists:
    get:
      description: |
        Get Spotify catalog information about artists similar to a given artist. Similarity is based on analysis of the Spotify community's listening history.
      operationId: Artists_getRelatedArtists
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the artist.
          example: 0TnOYISbd1XYRBk9myaseg
          title: Spotify Artist ID
          type: string
          x-konfig-original-example: 0TnOYISbd1XYRBk9myaseg
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathArtistId-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistsGetCatalogInfoResponse'
          description: A set of artists
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Artist's Related Artists
      tags:
      - Artists
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--artists-id-related-artists
      x-accepts: application/json
  /shows/{id}:
    get:
      description: |
        Get Spotify catalog information for a single show identified by its
        unique Spotify ID.
      operationId: Shows_getInformation
      parameters:
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the show.
          example: 38bS44xjbVVZ3No3ByF1dJ
          title: Spotify Show ID
          type: string
          x-konfig-original-example: 38bS44xjbVVZ3No3ByF1dJ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathShowId-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowObject'
          description: A show
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - user-read-playback-position
      summary: |
        Get Show
      tags:
      - Shows
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--shows-id
      x-accepts: application/json
  /shows:
    get:
      description: |
        Get Spotify catalog information for several shows based on their Spotify IDs.
      operationId: Shows_getMultipleShowsInfo
      parameters:
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the shows. Maximum: 50 IDs.
          example: "5CfCWKI5pZ28U0uOzXkDHe,5as3aKmN2k11yfDDDSrvaZ"
          title: Ids
          type: string
          x-konfig-original-example: "5CfCWKI5pZ28U0uOzXkDHe,5as3aKmN2k11yfDDDSrvaZ"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryShowIds-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowsGetMultipleShowsInfoResponse'
          description: A set of shows
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Several Shows
      tags:
      - Shows
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--shows
      x-accepts: application/json
  /shows/{id}/episodes:
    get:
      description: |
        Get Spotify catalog information about an show’s episodes. Optional parameters can be used to limit the number of episodes returned.
      operationId: Shows_getEpisodesById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the show.
          example: 38bS44xjbVVZ3No3ByF1dJ
          title: Spotify Show ID
          type: string
          x-konfig-original-example: 38bS44xjbVVZ3No3ByF1dJ
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathShowId-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryLimit-schema
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
          x-konfig-original-example: 5
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryOffset-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingSimplifiedEpisodeObject'
          description: Pages of episodes
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - user-read-playback-position
      summary: |
        Get Show Episodes
      tags:
      - Shows
      - Episodes
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--shows-id-episodes
      x-accepts: application/json
  /episodes/{id}:
    get:
      description: |
        Get Spotify catalog information for a single episode identified by its
        unique Spotify ID.
      operationId: Episodes_getSingleById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)\
            \ for the episode."
          example: 512ojhOuo1ktJprKbVcKyQ
          title: Get an Episode
          type: string
          x-konfig-original-example: 512ojhOuo1ktJprKbVcKyQ
          x-konfig-generated-schema: konfig-generated-schema-paths--episodes-id-get-parameters-0-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodeObject'
          description: An episode
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - user-read-playback-position
      summary: |
        Get Episode
      tags:
      - Episodes
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--episodes-id
      x-accepts: application/json
  /episodes:
    get:
      description: |
        Get Spotify catalog information for several episodes based on their Spotify IDs.
      operationId: Episodes_getSeveral
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for the episodes. Maximum: 50 IDs.
          example: "77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf"
          title: Ids
          type: string
          x-konfig-original-example: "77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf"
          x-konfig-generated-schema: konfig-generated-schema-paths--episodes-get-parameters-0-schema
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpisodesGetSeveralResponse'
          description: A set of episodes
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - user-read-playback-position
      summary: |
        Get Several Episodes
      tags:
      - Episodes
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--episodes
      x-accepts: application/json
  /audiobooks/{id}:
    get:
      description: |
        Get Spotify catalog information for a single audiobook. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      operationId: Audiobooks_getCatalogInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the audiobook.
          example: 7iHfbu1YPACw6oZPAFJtqe
          title: Spotify Audiobook ID
          type: string
          x-konfig-original-example: 7iHfbu1YPACw6oZPAFJtqe
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathAudiobookId-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiobookObject'
          description: An Audiobook
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiobooksGetCatalogInfoResponse'
          description: |
            The request contains malformed data in path, query parameters, or body.
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiobooksGetCatalogInfo404Response'
          description: |
            The requested resource cannot be found.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get an Audiobook
      tags:
      - Audiobooks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--audiobooks-id
      x-accepts: application/json
  /audiobooks:
    get:
      description: |
        Get Spotify catalog information for several audiobooks identified by their Spotify IDs. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      operationId: Audiobooks_getSeveral
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ`. Maximum: 50 IDs.
          example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          title: Spotify Audiobook IDs
          type: string
          x-konfig-original-example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryAudiobookIds-schema
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiobooksGetSeveralResponse'
          description: A set of audiobooks. If one of the requested audiobooks is
            unavailable then you'll find a `null` item in the `audiobooks` array where
            the audiobook object would otherwise be.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Several Audiobooks
      tags:
      - Audiobooks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--audiobooks
      x-accepts: application/json
  /audiobooks/{id}/chapters:
    get:
      description: |
        Get Spotify catalog information about an audiobook's chapters. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      operationId: Audiobooks_getChaptersById
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the audiobook.
          example: 7iHfbu1YPACw6oZPAFJtqe
          title: Spotify Audiobook ID
          type: string
          x-konfig-original-example: 7iHfbu1YPACw6oZPAFJtqe
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathAudiobookId-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryLimit-schema
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
          x-konfig-original-example: 5
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryOffset-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingSimplifiedChapterObject'
          description: Pages of chapters
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Audiobook Chapters
      tags:
      - Audiobooks
      - Chapters
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--audiobooks-id-chapters
      x-accepts: application/json
  /me/audiobooks:
    delete:
      description: |
        Remove one or more audiobooks from the Spotify user's library.
      operationId: Audiobooks_removeFromLibrary
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ`. Maximum: 50 IDs.
          example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          title: Spotify Audiobook IDs
          type: string
          x-konfig-original-example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryAudiobookIds-schema
        style: form
      responses:
        "200":
          description: Audiobook(s) have been removed from the library
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - user-library-modify
      summary: |
        Remove User's Saved Audiobooks
      tags:
      - Audiobooks
      - Library
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--me-audiobooks
      x-accepts: application/json
    get:
      description: |
        Get a list of the audiobooks saved in the current Spotify user's 'Your Music' library.
      operationId: Audiobooks_listSaved
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.
          example: 10
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryLimit-schema
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.
          example: 5
          title: Offset
          type: integer
          x-konfig-original-example: 5
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryOffset-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingSimplifiedAudiobookObject'
          description: Pages of audiobooks
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - user-library-read
      summary: |
        Get User's Saved Audiobooks
      tags:
      - Audiobooks
      - Library
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-audiobooks
      x-accepts: application/json
    put:
      description: |
        Save one or more audiobooks to the current Spotify user's library.
      operationId: Audiobooks_saveCurrentUserLibrary
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ`. Maximum: 50 IDs.
          example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          title: Spotify Audiobook IDs
          type: string
          x-konfig-original-example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryAudiobookIds-schema
        style: form
      responses:
        "200":
          description: Audiobook(s) are saved to the library
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - user-library-modify
      summary: |
        Save Audiobooks for Current User
      tags:
      - Audiobooks
      - Library
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--me-audiobooks
      x-accepts: application/json
  /me/audiobooks/contains:
    get:
      description: |
        Check if one or more audiobooks are already saved in the current Spotify user's library.
      operationId: Audiobooks_checkUserSaved
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ`. Maximum: 50 IDs.
          example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          title: Spotify Audiobook IDs
          type: string
          x-konfig-original-example: "18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryAudiobookIds-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudiobooksCheckUserSavedResponse'
          description: Array of booleans
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - user-library-read
      summary: |
        Check User's Saved Audiobooks
      tags:
      - Audiobooks
      - Library
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me-audiobooks-contains
      x-accepts: application/json
  /chapters/{id}:
    get:
      description: |
        Get Spotify catalog information for a single audiobook chapter. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      operationId: Chapters_getChapterInfo
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the chapter.
          example: 0D5wENdkdwbqlrHoaJ9g29
          title: Spotify Chapter ID
          type: string
          x-konfig-original-example: 0D5wENdkdwbqlrHoaJ9g29
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathChapterId-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterObject'
          description: A Chapter
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get a Chapter
      tags:
      - Chapters
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--chapters-id
      x-accepts: application/json
  /chapters:
    get:
      description: |
        Get Spotify catalog information for several audiobook chapters identified by their Spotify IDs. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      operationId: Chapters_getMultipleByIds
      parameters:
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=0IsXVP0JmcB2adSE338GkK,3ZXb8FKZGU0EHALYX6uCzU`. Maximum: 50 IDs.
          example: "0IsXVP0JmcB2adSE338GkK,3ZXb8FKZGU0EHALYX6uCzU,0D5wENdkdwbqlrHoaJ9g29"
          title: Spotify Chapter IDs
          type: string
          x-konfig-original-example: "0IsXVP0JmcB2adSE338GkK,3ZXb8FKZGU0EHALYX6uCzU,0D5wENdkdwbqlrHoaJ9g29"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryChapterIds-schema
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChaptersGetMultipleByIdsResponse'
          description: A set of chapters
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Several Chapters
      tags:
      - Chapters
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--chapters
      x-accepts: application/json
  /tracks/{id}:
    get:
      description: |
        Get Spotify catalog information for a single track identified by its
        unique Spotify ID.
      operationId: Tracks_getBySpotifyId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)
            for the track.
          example: 11dFghVXANMlKmJXsNCbNl
          title: Spotify Track ID
          type: string
          x-konfig-original-example: 11dFghVXANMlKmJXsNCbNl
          x-konfig-generated-schema: konfig-generated-schema-paths--tracks-id-get-parameters-0-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackObject'
          description: A track
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Track
      tags:
      - Tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tracks-id
      x-accepts: application/json
  /tracks:
    get:
      description: |
        Get Spotify catalog information for multiple tracks based on their Spotify IDs.
      operationId: Tracks_getMultipleByIds
      parameters:
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      - explode: true
        in: query
        name: ids
        required: true
        schema:
          description: |
            A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M`. Maximum: 100 IDs.
          example: "7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B"
          title: Spotify Track IDs
          type: string
          x-konfig-original-example: "7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B"
          x-konfig-generated-schema: konfig-generated-schema-paths--tracks-get-parameters-1-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistsGetTopTracksResponse'
          description: A set of tracks
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Several Tracks
      tags:
      - Tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--tracks
      x-accepts: application/json
  /search:
    get:
      description: |
        Get Spotify catalog information about albums, artists, playlists, tracks, shows, episodes or audiobooks
        that match a keyword string. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
      operationId: Search_spotifyCatalogInfo
      parameters:
      - explode: true
        in: query
        name: q
        required: true
        schema:
          description: |
            Your search query.

            You can narrow down your search using field filters. The available filters are `album`, `artist`, `track`, `year`, `upc`, `tag:hipster`, `tag:new`, `isrc`, and `genre`. Each field filter only applies to certain result types.

            The `artist` and `year` filters can be used while searching albums, artists and tracks. You can filter on a single `year` or a range (e.g. 1955-1960).<br />
            The `album` filter can be used while searching albums and tracks.<br />
            The `genre` filter can be used while searching artists and tracks.<br />
            The `isrc` and `track` filters can be used while searching tracks.<br />
            The `upc`, `tag:new` and `tag:hipster` filters can only be used while searching albums. The `tag:new` filter will return albums released in the past two weeks and `tag:hipster` can be used to return only albums with the lowest 10% popularity.<br />
          example: remaster%20track:Doxy%20artist:Miles%20Davis
          title: Query
          type: string
          x-konfig-original-example: remaster%20track:Doxy%20artist:Miles%20Davis
          x-konfig-generated-schema: konfig-generated-schema-paths--search-get-parameters-0-schema
        style: form
      - explode: false
        in: query
        name: type
        required: true
        schema:
          description: |
            A comma-separated list of item types to search across. Search results include hits
            from all the specified item types. For example: `q=abacab&type=album,track` returns
            both albums and tracks matching "abacab".
          items:
            enum:
            - album
            - artist
            - playlist
            - track
            - show
            - episode
            - audiobook
            type: string
          title: Item type
          type: array
        style: form
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          description: |
            The maximum number of results to return in each item type.
          example: 10
          maximum: 50
          minimum: 0
          title: Limit
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-paths--search-get-parameters-3-schema
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          description: |
            The index of the first result to return. Use
            with limit to get the next page of search results.
          example: 5
          maximum: 1000
          minimum: 0
          title: Offset
          type: integer
          x-konfig-original-example: 5
          x-konfig-generated-schema: konfig-generated-schema-paths--search-get-parameters-4-schema
        style: form
      - explode: true
        in: query
        name: include_external
        required: false
        schema:
          description: |
            If `include_external=audio` is specified it signals that the client can play externally hosted audio content, and marks
            the content as playable in the response. By default externally hosted audio content is marked as unplayable in the response.
          enum:
          - audio
          title: Include External
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSpotifyCatalogInfoResponse'
          description: Search response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Search for Item
      tags:
      - Search
      x-spotify-policy-list:
      - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--search
      x-accepts: application/json
  /me:
    get:
      description: |
        Get detailed profile information about the current user (including the
        current user's username).
      operationId: Users_getCurrentUserProfile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateUserObject'
          description: A user
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - user-read-private
        - user-read-email
      summary: |
        Get Current User's Profile
      tags:
      - Users
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--me
      x-accepts: application/json
  /playlists/{playlist_id}:
    get:
      description: |
        Get a playlist owned by a Spotify user.
      operationId: Playlists_getPlaylistById
      parameters:
      - explode: false
        in: path
        name: playlist_id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the playlist.
          example: 3cEYpjA9oz9GiPac4AsH4n
          title: Playlist ID
          type: string
          x-konfig-original-example: 3cEYpjA9oz9GiPac4AsH4n
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathPlaylistId-schema
        style: simple
      - explode: true
        in: query
        name: market
        required: false
        schema:
          description: |
            An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
              If a country code is specified, only content that is available in that market will be returned.<br/>
              If a valid user access token is specified in the request header, the country associated with
              the user account will take priority over this parameter.<br/>
              _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>
              Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/se/account/overview/).
          example: ES
          title: Market
          type: string
          x-konfig-original-example: ES
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-QueryMarket-schema
        style: form
      - explode: true
        in: query
        name: fields
        required: false
        schema:
          description: |
            Filters for the query: a comma-separated list of the
            fields to return. If omitted, all fields are returned. For example, to get
            just the playlist''s description and URI: `fields=description,uri`. A dot
            separator can be used to specify non-reoccurring fields, while parentheses
            can be used to specify reoccurring fields within objects. For example, to
            get just the added date and user ID of the adder: `fields=tracks.items(added_at,added_by.id)`.
            Use multiple parentheses to drill down into nested objects, for example: `fields=tracks.items(track(name,href,album(name,href)))`.
            Fields can be excluded by prefixing them with an exclamation mark, for example:
            `fields=tracks.items(track(name,href,album(!name,href)))`
          example: "items(added_by.id,track(name,href,album(name,href)))"
          title: Fields
          type: string
          x-konfig-original-example: "items(added_by.id,track(name,href,album(name,href)))"
          x-konfig-generated-schema: konfig-generated-schema-paths--playlists-playlist_id-get-parameters-2-schema
        style: form
      - explode: true
        in: query
        name: additional_types
        required: false
        schema:
          description: |
            A comma-separated list of item types that your client supports besides the default `track` type. Valid types are: `track` and `episode`.<br/>
            _**Note**: This parameter was introduced to allow existing clients to maintain their current behaviour and might be deprecated in the future._<br/>
            In addition to providing this parameter, make sure that your client properly handles cases of new types in the future by checking against the `type` field of each object.
          title: Additional Types
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistObject'
          description: A playlist
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0: []
      summary: |
        Get Playlist
      tags:
      - Playlists
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--playlists-playlist_id
      x-accepts: application/json
    put:
      description: |
        Change a playlist's name and public/private state. (The user must, of
        course, own the playlist.)
      operationId: Playlists_updateDetails
      parameters:
      - explode: false
        in: path
        name: playlist_id
        required: true
        schema:
          description: |
            The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) of the playlist.
          example: 3cEYpjA9oz9GiPac4AsH4n
          title: Playlist ID
          type: string
          x-konfig-original-example: 3cEYpjA9oz9GiPac4AsH4n
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-PathPlaylistId-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaylistsUpdateDetailsRequest'
      responses:
        "200":
          description: Playlist updated
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformationResponse'
          description: |
            Bad or expired token. This can happen if the user revoked a token or
            the access token has expired. You should re-authenticate the user.
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation403Response'
          description: |
            Bad OAuth request (wrong consumer key, bad nonce, expired
            timestamp...). Unfortunately, re-authenticating the user won't help here.
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlbumsGetInformation429Response'
          description: |
            The app has exceeded its rate limits.
          x-do-not-generate: true
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
      summary: |
        Change Playlist Details
      tags:
      - Playlists
      - Library
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--playlists-playlist_id
      x-content-type: application/json
      x-accepts: application/json
  /playlists/{playlist_id}/tracks:
    delete:
      description: |
        Remove one or more items from a user's playlist.
      operationId: Playlists_removeItems
      parameters:
[...]
